<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Han Tagger</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.stone-zeng.HanTagger</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Han Tagger</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>____BundleVersion____</string>
	<key>CFBundleShortVersionString</key>
	<string>____BundleVersionString____</string>
	<key>UpdateFeedURL</key>
	<string>____OnlineUrlToThisPlist____</string>
	<key>productPageURL</key>
	<string>____ProductPageURL____</string>
	<key>productReleaseNotes</key>
	<string>____LatestReleaseNotes____</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, stone-zeng, 2020</string>
	<key>NSPrincipalClass</key>
	<string>HanTagger</string>
	<key>PyMainFileNames</key>
	<array>
		<string>../MacOS/main.py</string>
	</array>
</dict>
</plist>
